.App {
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Geometria';
}

.header {
    height: 70px;
    box-shadow: 0px 12px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3em;
    padding-left: 3em;
    margin-bottom: 100px;
}

.inline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.inputs-container-column {
    display: flex;
    width: max-content;
    height: max-content;
    flex-direction: column;
}