.App {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Geometria';
}

.header {
    height: 70px;
    box-shadow: 0px 12px 8px 0px rgba(34, 60, 80, 0.2);

}

.inline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}